/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 20 lug 2025, 10:09:30
    Author     : piero.trentanove
*/
.navbar {
background-color: #333;
overflow: hidden;
}

.navbar .menu {
list-style-type: none;
margin: 0;
padding: 0;
}
.navbar .menu li {
display: inline-block;
}

.navbar .menu li a {
display: block;
color: white;
text-align: center;
padding: 14px 20px;
text-decoration: none;
}
.navbar .menu li a:hover {
background-color: #575757;
}
.hamburger {
display: none;
font-size: 30px;
color: white;
padding: 14px 20px;
cursor: pointer;
}

#menu-toggle {
display: none;
}
@media screen and (max-width: 600px) {
.navbar .menu {
display: none;
width: 100%;
}
.navbar .menu li {
display: block;
text-align: left;
}

#menu-toggle:checked + .hamburger + .menu {
display: block;
}
.hamburger {
display: block;
}
}
em {
  font-style: italic;
  font-size: 1em;
}
.autocenter{
    margin: auto;
    text-align: center;
}
.autoleft{
    margin: auto;
    text-align: left;
}
.bold{
    font-weight: bold;
}