
#ProgressBar {
	margin:auto;
	text-align:center;
  width: 100%;
  background-color: #ddd;
  max-width:300px;
}
#bar {
	margin:auto;
	text-align:center;
  width: 1%;
  height: 10px;
  background-color: #4CAF50;
  max-width:300px;
}
#txt {
/*  width:300px;*/
  padding:5px;
  text-align:center;
}
#alert {
  font-weight:bold;
  text-align:center;
}
