@charset "utf-8";
/* CSS Document */

/* Extra Isocra Styles */
/* for the table drag and drop with JQuery */
.tableDemo {
	background-color: white;
	border: 1px solid #666699;
	margin-right: 10px;
	padding: 6px;
}

.tableDemo table {
	border: 1px solid silver;
}

.tableDemo td {
	padding: 2px 6px
}
#table-2 th {
	background-color: #29215A;
	color: white;
}

#table-2 td, th {
	padding-right: 8px;
}

.category td {
	background-color: #E4EBF3;
}

.tDnD_whileDrag {
	background-color: #eee;
}

tr.alt td {
	background-color: #ecf6fc;
}

tr.myDragClass td {
    color: yellow;
    background-color: black;
}

td.dragHandle {
	background-image: url(updown2.gif);
	background-repeat: no-repeat;
	background-position: center center;
	cursor: move;
    
}

td.showDragHandle {
}

.versionHistory td {
    vertical-align: top;
    padding: 0.3em;
}

